.alert {
    padding: 0.5em;
    margin: 1em 0;
    text-align: center;

    &:before {
        font: normal normal normal 14px/1 FontAwesome;
        padding-right: .5em;
    }

    &.alert-info {
        &:before {
            content: "\f05a";
        }
    }

    &.alert-error {
        background: #c71826;

        &:before {
            content: "\f071";
        }
    }
}