
button {
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    border: 0;    
}

.btn {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    margin-bottom: 1em;
    background: green;
    border-radius: 2em;
    color: @text-col-main;
    white-space: nowrap;
    font-size: @text-size-std;
    text-transform: uppercase;
    background-color: @btn-bg-main;
    transition: background-color @trans-def;
    line-height: 1;

    &:hover {
        background-color: @btn-bg-main-hover;
    }

    &.btn-sm {
        font-size: @text-size-sm;
        padding: 0.5em;
    }

    &.btn-inline {
        width: auto;
        padding: 1em;
        margin-right: 0.5em;
    }

    &.btn-alt {
        background: transparent;
        font-size: 1.5em;
        padding: 0.2em 0;

        &:hover {
            background: transparent;
        }

        &.hide {
            opacity: 0;
        }

        &.remove {
            display: none;
        }
    }
}


