
.track-player-wrap {
    background: @spot-grey;
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height 0.5s ease-out;

    &.track-player-loaded {
        height: @track-player-height;
    }

    h4 {
        padding-left: 0.5em;
        line-height: @track-player-header;
        float: left;
        padding-right: 1em;

        span {
            color: @spot-light
        }
    }

    .track-player-close {
        float: right;
        padding: 0 0.5em;
        line-height: @track-player-header;
        font-size: 1.5em;
        cursor: pointer;
    }

    .btn-sm {
        padding: 0 0.5em;
        line-height: @track-player-header;
        margin-bottom: 0;
    }
}
