
.track-list{

    li {
        background: @spot-dark;
        clear: both;
        height: 3em;
        border-bottom: 1px solid @spot-grey;
        transition: background @trans-def;
        
        &.track-clickable{
            cursor: pointer;
        }

        &:hover.track-clickable,
        &.active {
            background: @spot-grey;

            .track-image {
                img {
                    opacity: 0.5;
                }
                .fa.fa-hide {
                    opacity: 1;
                }
            }
        }

        a {
            display: block;
            color: inherit;
        }

        .track-image,
        .track-image img {
            width: 3em;
            height: 3em;
        }


        .track-image {
            float: left;
            margin-right: 1em;
            position: relative;

            img {
                display: block;
                opacity: 1;
                background: @spot-light;
            }

            .fa {
                position: absolute;
                top: 1em;
                left: 1em;

                &.fa-hide {
                    opacity: 0;
                    transition: opacity @trans-def;
                }
            }
        }

        .track-name,
        .track-artist {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 1em;
        }


        .track-name {
            padding-top: 0.1em;
        }

        .track-artist {
            color: @spot-light;      
            font-size: @text-size-sm;      
        }
    }
}

.pager-wrap {
    float: right;
    width: 10em;

    a {
        float: left;
        width: 50%;
        text-align: center;
        color: @text-col-main;
        opacity: 1;
        transition: opacity @trans-def;
    }

}

.extra-buttons-wrap {
    max-height: 0;
    overflow: hidden;
    transition: max-height @trans-slow;

    &.show {
        max-height: 50em;
    }
}

.track-list-nav .btn-alt {
    margin-bottom: 0;
}

@media screen and (min-width: @bp-md) {
    .extra-buttons-wrap {
        max-height: 50em;
    }

    .track-list-nav .btn-alt {
        display: none;
    }
}
