<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Spotify Blog</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href="/css/site.min.css" rel="stylesheet" />
</head>
<body>
    TEST
    <div id="root" class="full-height-wrap"><%- markup -%></div>
    <script src="/js/client.js"></script>
</body>
</html>