
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:focus,
button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1 {
	font-size: @text-size-lg;
    font-weight: @font-weight-bold;
    margin-bottom: 0.5em;
}
