
// Font-awesome
@fa-path: "../../../node_modules/font-awesome/less";
@import "@{fa-path}/variables.less";
@import "@{fa-path}/core.less";
@import "@{fa-path}/path.less";
@import "@{fa-path}/icons.less";

// Spotify font
@font-face{
    font-family:Circular;
    src:url(https://sp-bootstrap.global.ssl.fastly.net/5.2.0/fonts/circular-light.woff2) format('woff2'),
    url(https://sp-bootstrap.global.ssl.fastly.net/5.2.0/fonts/circular-light.woff) format('woff');
    font-weight:300;
    font-style:normal;
}
    
@font-face{
    font-family:Circular;
    src:url(https://sp-bootstrap.global.ssl.fastly.net/5.2.0/fonts/circular-bold.woff2) format('woff2'),
    url(https://sp-bootstrap.global.ssl.fastly.net/5.2.0/fonts/circular-bold.woff) format('woff');
    font-weight:600;
    font-style:normal;
}

@main-font: Circular,Helvetica,Arial,sans-serif;
@font-weight-reg: 300;
@font-weight-bold: 600;

@head-font: 'Montserrat', sans-serif;
