
header {
	background: @v-dark;

    .container {
        background: @v-dark;        
    }

    .navbar-brand {
        font-size: 2em;
        font-family: @head-font;
        color: @text-col-green;
        transition: color @trans-def;

        &:hover {
            color: @text-col-green-hover;
        }
    }
}
