@import 'header';

html {
	background: @v-dark; 

    @media screen and (min-width: @bp-lg) {
        background: @spot-grey url(../img/bg03.jpg) no-repeat center center fixed; 
    }
}

html, body {
    height: 100%;
}
#root {
    min-height:100%;
}

.full-height-wrap {
    display: flex;
    flex-direction: column;
    min-height:100%;
}

.full-height-inner {
    flex: 1;
}

body {
    font-size: @text-size-std;
	line-height: @line-height-std;	
    font-family: @main-font;
    font-weight: @font-weight-reg;
	color: @text-col-main;
}

.container {
	width: 100%;
	background: @spot-dark;
	margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    transition: background @trans-slow;

    @media screen and (min-width: @bp-lg) {
        width: @bp-lg;
        background: @spot-dark-opaq;
    }
}

aside {
    margin-bottom: 1em;
}


.flex-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media screen and (min-width: @bp-md) {
        flex-direction: row;        
    }

    main {
        order: 2;

        @media screen and (min-width: @bp-md) {
            width: 65%;
        }
        @media screen and (min-width: @bp-lg) {
            width: 75%;
        }
    }

    aside {
        order: 1;

        @media screen and (min-width: @bp-md) {
            width: 30%;
            order: 3;        
            padding-top: 4em;
        }
        @media screen and (min-width: @bp-lg) {
            width: 20%;
        }
    }
}

.main-content {
    padding-bottom: @track-player-height;
}

footer {
    height: @track-player-height;
    background: red;
}