
@v-dark: #000;
@spot-dark: #181818;
@spot-dark-opaq: rgba(24,24,24,0.95);
@spot-grey: #282828;
@spot-light: #a0a0a0;

@text-size-lg: 2em;
@text-size-std: 1em;
@text-size-sm: 0.85em;
@line-height-std: 1.5;

@text-col-main: #fff;
@text-col-green: #1ed760;
@text-col-green-hover: lighten(@text-col-green, 10%);

@btn-bg-main: @text-col-green;
@btn-bg-main-hover: @text-col-green-hover;

@bp-sm: 26em;
@bp-md: 40em;
@bp-lg: 75em;

@track-player-height: 115px;
@track-player-header: 34px;

@trans-def: 0.25s ease-out;
@trans-slow: 1s ease-out;
/*
@bRad-std: 0.25em;
@track-item-height: 3em;
*/